html{
	font-size: 10px;
}
.allPager{
	max-width: 120rem;
	margin: 2rem auto;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 4%;
	font-family: Time New Roma;
	font-weight: lighter;
}

#headOfhead {
	max-width: 106.2rem;
	height: 67rem;
	margin: 0 auto;
}
#headOfhead .container{
	display: flex;
	max-width: 100%;
	justify-content:space-between;
}
#headOfhead #logo{
	width: 120px;
	float: left;
}
#headOfhead #respo{
	display: none;
}

#headOfhead #menu{
	width: 575px;
	float: right;
	background: white;
	font-size: 1.4em;
	
}
nav{
	float: right;
	
}
nav a{
	display: inline-block;
	text-decoration: none;
	color: rgb(94,94,94);
	padding-left: 5em;
		
}
#headOfhead #content{
	margin-bottom: 7.5rem; 
}

#anhbia img{
	position: absolute;
	max-width: 89%;
	margin: auto;
	background-size: cover;
	background-position: center;
}
/**/
.noidung {
	width: 100%;
	font-size: 10px;
	margin: 0 auto;
}
#tren {
	width: 74.5%;
	margin: 0 auto;
	
}
h1{
	font-style: normal;
	font-family: sans-serif;
	font-size: 1.3rem;
	color: rgb(205,204,202);
	
}
h2{

	font-size: 3rem;
	color: rgb(96,96,96);

}
p{
	font-size: 1.7rem;
	color: rgb(166,166,166);
}
#tren #cuoi{
	font-size: 1.2em;
	color: rgb(205,204,202);
	padding-top: 5.7em;

}
.duoi{
	width: 100%;
	
}
.duoi .container{
	width: 889px;
	margin: 0 auto;	
	display: flex;
	padding-top: 4.1rem;
	justify-content: space-between; 
	margin-top: 13.4rem;
	flex-wrap: wrap;
}
.duoi .container a{
	text-decoration: none;
	color: rgb(92,92,92);
}
.duoi .container .item1{
	width: 421px;
	font-size: 1.5rem;	
}
.duoi .container .tem1 img{
	position: absolute;
	max-width: 35.08333333%;
	margin: auto;
	background-size: cover;
	background-position: center;
}
.duoi .container h1{
	font-size: 1.3rem;
	color: rgb(200,199,197);

}
#transition img {
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
    
#transition img:hover {
	
    opacity: 0.3;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


#nhapmail{
	max-width: 120rem;
	height: 28.8rem;
	margin: 0 auto; 
	text-align: center;
	background: rgb(243,243,243);
	padding: 7.5rem;
	margin-top: 12.4rem; 
}
.mail__text {
  font-size: 3.3rem;
  color: var(--text);
  margin-bottom: 6.6rem;
  display: inline-block;
}
.mail__form {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
.mail__form-inp {
  border: 1px none gray;
  color: var(--input-text);
  background: rgb(243,243,243);
  padding: 2.5rem;
  font-style: normal;
  font-size: 1.5rem;
  width: 85%;
}
.mail__form-btn {
  border: 0;
  outline: none;
  background: rgb(243,243,243);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
}
#loadmore{
	margin-top:7.1rem; 
	width: 100%;
	height: 21rem;
	position: relative;
	/*text-align: center;*/
}
.butt{       
            background-color: white;
            color: rgb(143,143,143);
            border: 1px solid rgb(143,143,143);
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            position: absolute;
            left: 50%; 
		    top: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    -webkit-transform: translateX(-50%) translateY(-50%);
}
.butt:hover{
    background-color: rgb(143,143,143);
    color:white;
}

/*Life tastes better with coffee
American dream
A day exploring the Apls
Top 10 song to run
Cold winter day*/
footer{
	width: 100%;
	background: rgb(240,240,240);
	margin: 0 auto;
}
footer .container{
	width: 984px;
	margin: 0 auto;	
	display: flex;
	padding-top: 4.1rem;
	justify-content: space-between; 
	margin: 0 14.5rem; 

}
#itemff{
	
	
}
#itemff li{
	display: inline-block;
	padding-bottom: 6.8rem; 
	padding-right: 1.7rem;
	padding-top:2.5rem; 
	font-size: 1.7rem;
}	
#itemf{
	
	
}
#itemf a{
	font-size: 1.6rem;
	color: rgb(101,101,101);
}
#itemf li{
	display: inline-block;	
	padding:2.5rem 1.7rem;
	

}	
#itemf p{
	font-size: 1.6rem;
	margin-right: 2.4rem;
	
}

/*Phan media*/
@media only screen and (min-width: 950px) and (max-width: 1200px){
    footer .container{
    	width: 100%;
    	flex-direction: column;
    	
    	margin: 0 auto;
    }
    #itemff{
	margin: 0 auto; 
	
	}
    #itemf{
	margin:0 auto; 
	
	}

}
@media only screen and (max-width: 950px) and (min-width: 620px){
	#headOfhead .container{
		flex-direction: column-reverse;
	}
	#headOfhead .container .me{
		margin: 2rem auto;

	}
    .container{
    	flex-direction: column;
    }
    .duoi .container{
    	width: 100%;
    	
    }
    .duoi .container .item1{
	margin: 0 auto;	
	}
    footer .container{
    	width: 100%;
    	margin: 0 auto;
    }
    #itemff{
	margin: 0 auto; 
	
	}
    #itemf{
	margin:0 auto; 
	
	}

}

@media only screen and (max-width: 620px){
	#headOfhead .container{
		flex-direction: row;
	}
	#headOfhead .container #menu{
		display: none;
		position: absolute;
	}
	#headOfhead .container #respo{
		display: block;
		float: right;
		position: relative;
	}
	#headOfhead .container #respo :hover{
		background-color: rgb(143,143,143);
	    color:white;
	}


	/*khong lien quan*/
	.container{
    	flex-direction: column;
    }
    .duoi .container{
    	width: 100%;
    	
    }
    .duoi .container .item1{
		margin: 0 auto;	
	}
    footer .container{
    	width: 100%;
    	margin: 0 auto;
    }
    #itemff{
	margin: 0 auto; 
	
	}
    #itemf{
	margin:0 auto; 
	
	}

}